[Unit]
Description=The Harry Plotter Service
Requires=network.target
After=network.target

[Service]
Type=Simple
User=hasi
SyslogIdentifier=HarryPlotter
WorkingDirectory=/home/hasi/harryplotter/harryplotter/
ExecStart=/home/hasi/harryplotter/harryplotter/bin/harry-twitter.rb

[Install]
WantedBy=multi-user.target
